.sidebar{
    flex: 1;
    height: calc(100vh);
    background-color: white;
    position: sticky;
    top: 50px;
}   
.sideWrapper{
    padding: 20px;
    color: #555;
}
.sideMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(142, 113, 113);
}
.sidebarList{
    list-style: none;
    padding: 5px;


}
.sidebarListItem{
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}
.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(172, 172, 35);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}
